@model KanbanBoard
@{ int limit = 2; int count = 0;}

@functions {
    void MakeCard(KanbanCard p_card) {
        <div class="card">
            <div class="card-header">
                <h5>@p_card.Title</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="desc" class="form-label">Details</label>
                    <textarea class="form-control" rows="3">@p_card.Details</textarea>
                </div>
                <a href=@Url.Action("Edit", "Home", new {id = p_card.ID }) />
                <a href="@Url.Action("Delete", "Home", new {id = p_card.ID})" class="btn btn-primary">Delete</a>
                <a href="@Url.Action("Move", "Home", new {id = p_card.ID, forward = false})" class="btn btn-primary">Left</a>
                <a href="@Url.Action("Move", "Home", new {id = p_card.ID, forward = true})" class="btn btn-primary">Right</a>
            </div>
        </div>
    }
}

<div class="container-fluid flex-row ">
    <div class="row text-center" style="min-height: 70vh; height: 100%">
        <div class="col flex-column bg-primary">
            <h2>Backlog</h2>
            @foreach (var card in Model.Backlog)
            {
                MakeCard(card);
            }
        </div>
        @{ count = Model.InProgress.Count(); }
        @if (count > limit)
        {
            <div class="col flex-column bg-danger">
                <h2>In Progress</h2>
                @foreach (var card in Model.InProgress)
                {
                    MakeCard(card);
                }
            </div>
        }
        else
        {
            <div class="col flex-column bg-secondary">
                <h2>In Progress</h2>
                @foreach (var card in Model.InProgress)
                {
                    MakeCard(card);
                }
            </div>
        }

        @{ count = Model.Review.Count(); }
        @if (count > limit)
        {
            <div class="col flex-column bg-danger">
                <h2>Review</h2>
                @foreach (var card in Model.Review)
                {
                    MakeCard(card);
                }
            </div>
        }
        else
        {
            <div class="col flex-column bg-success">
                <h2>Review</h2>
                @foreach (var card in Model.Review)
                {
                    MakeCard(card);
                }
            </div>
        }

        @{ count = Model.Testing.Count(); }
        @if (count > limit)
        {
            <div class="col flex-column bg-danger">
                <h2>Testing</h2>
                @foreach (var card in Model.Testing)
                {
                    MakeCard(card);
                }
            </div>
        }
        else
        {
            <div class="col flex-column bg-info">
                <h2>Testing</h2>
                @foreach (var card in Model.Testing)
                {
                    MakeCard(card);
                }
            </div>
        }

        <div class="col flex-column bg-warning">
            <h2>Delivered</h2>
            @foreach (var card in Model.Done)
            {
                MakeCard(card);
            }
        </div>
    </div>
</div>